{% extends 'base.html' %}

{% block content %}

<div class="table-responsive">
    <table class="table header-border">
        <thead>
            <tr>
                <th width="60%">aluno</th>
                <th width="20%">turma</th>
             
            </tr>
        </thead>
 

        <tbody>
            {% if altu %}
            {% for a in altu %}
            <tr>
                <td> <a href="/turma/{{ a.id }}/">{{ altu.aluno }}</a> </td>
                <td> <a href="/turma/{{ t.id }}/">{{ turma.turma }} </a> </td>
            
            {% endfor %}
            {% else %}

           
            <tr>
                <td>Não há pessoas cadastradas.</td>
            </tr>
            {% endif %}
        </tbody>
    </table>

{% endblock %}